$cl_b: #1B054A;
$cl_w: #FFFFFF;
$cl_or: #FAD826;
$cl_bl: #000000;

.product {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .block1 {
        display: flex;
        align-items: center;
        flex-direction: column;

        .block_sizes {
            display: inline-flex;
            padding: 15px;
            margin-right: 10px;

            .size-button {
                background-color: $cl_b;
                margin-right: 10px;
                border-radius: 30px;
                width: 60px;
                height: 40px;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 35px;
                color:$cl_w;
               
                &.selected{
                    background-color: $cl_or;
                }
                
               
            }
        }

        .quan {
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            width: 200px;
            height: 46px;
            background: $cl_b;
            border-radius: 30px;
            color: $cl_w;

            .butPlus {
                background-color: $cl_or;
                color: $cl_b;
                width: 25px;
                height: 25px;
                border-radius: 30px;
            }

            .butMinus {
                background-color: $cl_or;
                color: $cl_b;
                width: 25px;
                height: 25px;
                border-radius: 30px;
            }

            p {
                text-align: center;
                width: 165px;
                height: 35px;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 35px;
                color: $cl_w;
            }
        }
    }

    .block2 {
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
            width: 454px;
            height: 250px;
            background: $cl_b;
            border-radius: 0px 30px;
            color: $cl_w;
            text-align: center;
            padding: 30px;
        }

        span {
            color: $cl_or;
        }

        .two_buttons {
            margin: 15px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .add {
                width: 150px;
                height: 50px;
                background: $cl_b;
                border-radius: 0px 30px 30px 30px;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 35px;
                color: $cl_w;

                &:hover {
                    background-color: rgba(255, 165, 0, 0.5);
                }
            }

            .buy {
                width: 150px;
                height: 50px;
                background: $cl_b;
                border-radius: 30px 30px 30px 0px;
                font-family: 'Archivo';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 35px;
                color: $cl_w;

                &:hover {
                    background-color: rgba(255, 165, 0, 0.5);
                }
            }

        }

    }
}