* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px auto;
}

$cl_b: #1B054A;
$cl_w: #FFFFFF;
$cl_or: #FAD826;
$cl_bl: #000000;
.main_page {
    background-color: $cl_b;
    width: 100%;
    height: 200px;
    margin: 0px auto;
  
.header {
    text-align: center;
    padding: 3.5%;
   a{
    text-decoration: none;
   }

    h1 {
        /* // DUMBBELL'S SPORT GOODS It's all about the gym */
        color: $cl_w;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 49px;

        span {
            /* // DUMBBELL'S SPORT GOODS It's all about the gym */
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 59px;
            color: $cl_or;
        }
    }

    p {
        color: $cl_or;
        font-family: 'Montserrat';
        font-size: 16px;
        padding: 0px 210px 0px 0px;
    }

    .links_container {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;


        a {
            text-decoration: none;
        }

        .l_block1 p {
            color: $cl_w;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 39px;

            &:hover {
                color: $cl_or;
            }
        }

        .l_block2 p {
            color: $cl_w;
            font-family: 'Archivo';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 39px;

            &:hover {
                color: $cl_or;
            }
        }
    }
}
}